{% extends 'base.html' %}

{% block title %}chat
    Salfatix (BETA)
{% endblock %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
        {% for message in messages %}
            {% if message.author == 'assistant' %}
                <div class="d-flex flex-row justify-content-start mb-4">
                    <img class="bg-gray" src="{{ url_for('static', filename='img/salfatix_avatar.png') }}" alt="avatar 1" style="width: 65px; height: 100%;">
                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                        <p class="small mb-0">{{message.content}}</p>
                    </div>
                </div>
            {% else %}
                <div class="d-flex flex-row justify-content-end mb-4">
                    <div class="p-3 me-3 border bg-body-tertiary" style="border-radius: 15px;">
                        <p class="small mb-0">{{message.content}}</p>
                    </div>
              </div>
            {% endif %}
        {% endfor %}

        <form method="POST">
            <div class="input-group mb-3">
                <input name="message" class="form-control" placeholder="Enviar mensaje a Salfatix o seleccionar alguna de las opciones de categorias" aria-label="Tu mensaje" aria-describedby="send-message" autofocus/>
                <input type="submit" class="btn custom-btn" id="send-message" name="intent" value="Enviar"/>
            </div>


            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-outline-primary mx-2" name="intent" value="Terror"       formmethod="POST">Terror</button>
                <button class="btn btn-outline-primary mx-2" name="intent" value="Comedia"      formmethod="POST">Comedia</button>
                <button class="btn btn-outline-primary mx-2" name="intent" value="Accion"       formmethod="POST">Acción</button>
                <button class="btn btn-outline-primary mx-2" name="intent" value="Infantil"     formmethod="POST">Infantil</button>
                <button class="btn btn-outline-primary mx-2" name="intent" value="Romantica"    formmethod="POST">Romántica</button>
            </div>
        </form>
    </div>
{% endblock %}