{% extends 'base.html' %}

{% block title %}
    Salfatix
{% endblock %}

{% from 'bootstrap5/nav.html' import render_nav_item %}

{% block content %}
    {% include 'navbar.html' %}
    <div id="scroller">
        <div id="anchor" class="container col-xxl-8 py-5">
            <div id="messages">
            {% for message in messages %}
                {% if message.author == 'assistant' %}
                    <div class="d-flex flex-row justify-content-start mb-4 me-3">
                        <img class="bg-gray" src="{{ url_for('static', filename='img/salfatix_avatar.png') }}" alt="avatar 1" style="width: 65px; height: 100%;">
                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                            <p class="mb-0">{{message.content|safe}}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex flex-row justify-content-end mb-4">
                        <div class="p-3 me-3 border bg-body-tertiary" style="border-radius: 15px;">
                            <p class="mb-0">{{message.content|safe}}</p>
                        </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="mb-3">
                    <span>Buscar según categoria:&nbsp;</span>
                    <input type="submit" class="btn btn-sm custom-btn" name="message" value="Terror"/>
                    <input type="submit" class="btn btn-sm custom-btn" name="message" value="Comedia"/>
                    <input type="submit" class="btn btn-sm custom-btn" name="message" value="Accion" />
                    <input type="submit" class="btn btn-sm custom-btn" name="message" value="Infantil"/>
                    <input type="submit" class="btn btn-sm custom-btn" name="message" value="Romantica"/>
                    <input type="submit" class="btn btn-sm custom-btn" name="message" value="Ciencia Ficción"/>
                </div>
            </form>
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="input-group mb-3">
                    <input id="message" name="message" required="required" class="form-control form-control-lg" placeholder="Enviar mensaje a Salfatix o selecciona alguna de las opciones de categorias" aria-label="Tu mensaje" aria-describedby="send-message"/>
                    <input type="submit" class="btn custom-btn btn-lg disabled" id="send-message" name="intent" value="Enviar"/>
                </div>            
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}