<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Próximamente Salfatix</title>
    </head>
    <body>
        <h1>Salfatix</h1>
        <p>Que no te spoileen, descúbrelo y veelo antes!!!</p>
        <p>
            Encuentra tu próxima película o serie en segundos, sin perder horas
            eligiendo.
        </p>
        <h2>Sé de los primeros!</h2>
        <p>
            El estreno de esta aplicación está previsto para mediados de enero del 2025. 🚀
        </p>
        <p>
            Por mientras, <a href="">déjamos tu correo</a> y te avisaremos
        </p>
    </body>
</html>