{% extends 'base.html' %}

{% block title %}
    Tu perfil
{% endblock %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="container col-xxl-8 py-5">
        <h1 class="mb-4">Tu perfil</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% elif category == 'info' %}
                            <div class="alert alert-info" role="alert">
                                {{ message }}
                            </div>
                        {% elif category == 'message' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {{ render_form(form) }}
    </div>
{% endblock %}
